$bg-image: url('../img/m-h-night.jpg');
$banner-bg: linear-gradient(to right,	#dfa504, #96324e);
$font-families: (
    "headers":"Source Sans Pro", 
    "paragraphs":"Fresca"
);
$font-colors: (
    "main":white, 
    "white":white,
    "section":#c0c3ce
);
$bg-colors: (
    "divs":#3b3f50,
    "body":#21232e,
    "button":#e3ac00,
    "highlight":#ff4e33
);