body {
  background-color: rgb(235, 231, 231);
}

#root {
  max-width: 800px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bigButton {
  min-width: 25%;
  background-color: rgba(46, 125, 139, 0.39);
  color: white;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 10px;
  border-color: transparent;
}

.cancel {
  min-width: 15%;
  color: grey;
  padding: 10px 20px;
  margin: 8px;
  background-color: transparent;
  border-radius: 10px;
  border-color: transparent;
}

.course {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px 30px;
  margin: 5px 0;
  background-color: white;
  border-color: transparent;
  border-radius: 5px;

}

.name {
  font-weight: bold;
}

.form {
  width: 600px;
  background-color: white;
  padding: 50px 50px 50px 150px;
}

h2 {
  text-align: center;
}

label {
  color: grey;
  text-align: left;
}

input, textarea {
  min-width: 72%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.1);
  padding-left: 30px; 
  align-items: center;
}

textarea {
  height: 60px;
}