.img {
  width: 120px;
}

.choice {
  border-radius: 15%;
  cursor: pointer;
  animation: bouncy 5s infinite linear;
  position: relative;
}

#rock {
  animation-delay: 0.07s;
}

#scissors {
  animation-delay: 0.14s;
}

#paper {
  animation-delay: 0.21s;
}

@keyframes bouncy {
  0% {
    top: 0em;
    background-color: #001f3f;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
    background-color: aquamarine;
  }
  100% {
    top: 0em;
    background-color: #001f3f;
  }
}

#reset {
  color: #ffffff;
  background-color: #3f6b94;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 5px 10px;
  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
  &:hover {
    color: #3f6b94;
    border-color: currentColor;
    background-color: white;
  }
}
