body {
  width: 700px;
  text-align: center;
}

h1 {
  color: darkblue;
  text-align: center;
  font-size: 36px;
}

ul {
  font-size: 20px;
  list-style-position: inside;
  list-style-type: square;
}
